<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <servlet>
        <servlet-name>Upload Servlet</servlet-name>
        <servlet-class>pl.infoshareacademy.Web.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <jsp-file>upload.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload Servlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <display-name>UploadServlet</display-name>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>com.auth0.domain</param-name>
        <param-value>gityzgithuba.eu.auth0.com</param-value>
    </context-param>

    <context-param>
        <param-name>com.auth0.clientId</param-name>
        <param-value>gOt0GJLIxOmUfNgZ2en35oditvGR78Or</param-value>
    </context-param>

    <context-param>
        <param-name>com.auth0.clientSecret</param-name>
        <param-value>jQ3Rqro1klfJzgaul9_vjVrx_pIIWSh9FzpyrrnDvw-jdFgDefX7x9eMRtRHVBSc</param-value>
    </context-param>

</web-app>